@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.about-page {
  max-width: b.$container-large;
  margin: 0 auto;
  padding: b.$margin-mid-3 b.$margin-mid;

  &__heading {
    font-size: b.$font-size-large;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: b.$margin-mid;
    letter-spacing: 2px;
  }
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: b.$margin-small-3;
  font-size: b.$font-size-mid;

  & p {
    letter-spacing: 2px;
  }
}

@media (max-width: 1150px) {
  .about-page {
    padding: b.$margin-small-3 b.$margin-mid;

    &__heading {
      margin-bottom: b.$margin-small-2;
    }
  }
  .about-text {
    gap: b.$margin-small-2;

    & p {
      letter-spacing: 2px;
    }
  }
  .about-page__heading {
    font-size: b.$font-size-mid;
  }
  .about-text {
    font-size: b.$font-size-small-3;
  }
}
@media (max-width: 650px) {
  .about-page__heading {
    font-size: b.$font-size-smal-2;
  }
  .about-text {
    font-size: b.$font-size-small-1;
  }
}
