// SPECIFIC FOR THIS PROJECT
$font-size-heading: 2.6rem;
$font-size-sub-heading: 1.4rem;
$font-size-p: 1.8rem;

$section-sontainer-width: 140rem;

// MARGIN
$margin-small: 0.5rem;
$margin-small-1: 1rem;
$margin-small-2: 1.5rem;
$margin-small-3: 2rem;

$margin-mid: 3rem;
$margin-mid-1: 4rem;
$margin-mid-2: 4.5rem;
$margin-mid-3: 5rem;

$margin-large: 6rem;
$margin-large-1: 7rem;
$margin-large-2: 8rem;
$margin-large-3: 9rem;
$margin-large-4: 10rem;
$margin-large-5: 12rem;
$margin-large-6: 15rem;

// WIDTH
$container-x-small: 10rem;
$container-x-small-1: 15rem;
$container-x-small-2: 20rem;

$container-small: 30rem;
$container-small-1: 35rem;
$container-small-2: 45rem;

$container-mid: 50rem;
$container-mid-1: 60rem;
$container-mid-2: 70rem;

$container-large: 100rem;
$container-large-1: 120rem;
$container-large-2: 140rem;

// FONT SIZE
$font-size-small: 0.8rem;
$font-size-small-1: 1rem;
$font-size-smal-2: 1.2rem;
$font-size-small-3: 1.4rem;

$font-size-regular: 1.6rem;
$font-size-regular-plus: 1.8rem;

$font-size-mid: 2rem;
$font-size-mid-1: 2.4rem;
$font-size-mid-2: 2.6rem;
$font-size-mid-3: 2.8rem;

$font-size-large: 3rem;
$font-size-large-1: 4rem;
$font-size-large-2: 5rem;
$font-size-large-3: 7rem;
$font-size-large-4: 8rem;

$font-size-x-large-3: 15rem;

// BORDER RADIUS
$border-radius-small: 0.4rem;
$border-radius-mid: 0.8rem;
$border-radius-large: 1rem;
$border-radius-xl: 1.5rem;
