@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.left-side {
  margin-bottom: b.$margin-large-3;
  padding: 0 3rem;

  &__link {
    border-radius: 0.5rem;
    overflow: hidden !important;
    display: block;
    margin-bottom: b.$margin-small-1;
  }
  &__img {
    width: 100%;
    height: auto;
    transform: scale(1.05);
  }

  &__text {
    &__date {
      font-size: b.$font-size-sub-heading;
    }
    & h3 {
      font-size: b.$font-size-heading;
      margin-bottom: b.$margin-small-1;
    }
    &__title {
      font-size: b.$font-size-mid;
    }
  }
}
