@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.main-container {
  max-width: b.$container-large;
  margin: 0 auto;
  text-align: center;

  padding: 3rem 0;
}

.envelope-container {
  border: solid black 1px;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  padding: 1rem 2rem;
  font-size: b.$font-size-mid;
  border-radius: 1rem;
  margin: 0 auto;
}

.envelope-container-black-theme {
  border: solid a.$background-color 1px;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  padding: 1rem 2rem;
  font-size: b.$font-size-mid;
  border-radius: 1rem;
  margin: 0 auto;
}

.main-text {
  font-size: b.$font-size-heading;
  margin-bottom: 1rem;
}

@media (max-width: 1400px) {
  .main-container {
    padding: 3rem b.$margin-mid;
  }
}

@media (max-width: 1150px) {
  .main-text {
    font-size: b.$font-size-mid;
  }
  .main-container {
    padding: 2rem b.$margin-mid;
  }

  .envelope-container {
    & p {
      font-size: b.$font-size-small-3;
    }
  }
  .envelope-container-black-theme {
    & p {
      font-size: b.$font-size-small-3;
    }
  }
}
@media (max-width: 650px) {
  .main-text {
    font-size: b.$font-size-smal-2;
  }
  .main-container {
    padding: 2rem b.$margin-mid;
  }

  .envelope-container,
  .envelope-container:link,
  .envelope-container:visited {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    & p {
      font-size: b.$font-size-small-1;
    }
  }
  .envelope-container-black-theme,
  .envelope-container-black-theme:link,
  .envelope-container-black-theme:visited {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    & p {
      font-size: b.$font-size-small-1;
    }
  }
}
