// MAIN COLORS
$background-color: #f3efe3;
$background-color-shade: #c2bfb6;

$text-color: #1b1b19;
$text-color-shade: #80807f;

$heading-color: #002397;
$heading-color-black-theme: #667bc1;
$input-placeholder: #c0c0c0;
