/* FOR HEADINGS */
/* import { Playfair_Display_SC as playfair } from "next/font/google";
const inter = playfair({ subsets: ["latin"], weight: ["400", "700", "900"] }); */

*:link,
*:visited,
*:hover,
*:active {
  text-decoration: none;
  color: #2c2b29;
}

*,
*::after,
*::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3efe3;
  color: #2c2b29;
}
