@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.coffe-item {
  margin-bottom: b.$margin-large-3;
  padding: 0 3rem;
  transform: translateY(1rem);
  opacity: 0;
  transition: all 0.4s ease;

  &__link {
    border-radius: 0.5rem;
    overflow: hidden !important;
    display: block;
    margin-bottom: b.$margin-small-1;
  }
  &__img {
    width: 100%;
    height: auto;
    transform: scale(1.05);
  }

  &__text {
    &__date {
      font-size: b.$font-size-sub-heading;
    }
    & h3 {
      font-size: b.$font-size-heading;
      margin-bottom: b.$margin-small-1;
    }
    &__title {
      font-size: b.$font-size-mid;
    }
  }
}

@media (max-width: 1150px) {
  .main-heading,
  .main-heading:link,
  .main-heading:visited {
    & h3 {
      font-size: b.$font-size-mid;
    }
  }
  .coffe-item__text__date {
    font-size: b.$font-size-small-3;
  }

  .coffe-item__text__title {
    font-size: b.$font-size-small-3;
  }
}
@media (max-width: 950px) {
  .coffe-item {
    padding: 0;
  }
}
@media (max-width: 650px) {
  .main-heading,
  .main-heading:link,
  .main-heading:visited {
    & h3 {
      font-size: b.$font-size-smal-2;
    }
  }
  .coffe-item__text__date {
    font-size: b.$font-size-small-1;
  }

  .coffe-item__text__title {
    font-size: b.$font-size-small-1;
  }
}
.fade-in {
  transform: translateY(0);
  opacity: 1;
}
