@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.container {
  margin: 0 auto;
  max-width: b.$section-sontainer-width;
}

.coffee-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  padding: 0 b.$margin-mid;
}

.main-heading-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  padding: b.$margin-mid-1 0 b.$margin-large 0;

  & h3 {
    font-size: b.$sec-heading-smaller;
    text-transform: uppercase;
  }

  & svg {
    width: 1.8rem;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}

.svg-box {
  display: flex;
  align-items: center;

  & p {
    font-size: b.$font-size-p;
  }
}

.desctiption {
  font-size: b.$font-size-p;
}

@media (max-width: 1450px) {
  .main-heading-box {
    grid-template-columns: 1fr 1fr;
    padding: b.$margin-mid-1 b.$margin-mid b.$margin-large b.$margin-mid;

    & h3 {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 1150px) {
  .main-heading-box {
    & h3 {
      font-size: b.$font-size-mid;
    }

    & p {
      font-size: b.$font-size-small-3;
    }
  }
}

@media (max-width: 850px) {
  .main-heading-box {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: b.$margin-mid-1 b.$margin-mid b.$margin-large b.$margin-mid;
    text-align: center;
    & h3 {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 750px) {
  .coffee-main {
    column-gap: 1rem;
    padding: 0 0.5rem;
  }
}
@media (max-width: 500px) {
  .coffee-main {
    column-gap: 0.5rem;
    padding: 0 0.5rem;
  }
}
@media (max-width: 650px) {
  .main-heading-box {
    row-gap: 0.5rem;
    padding: b.$margin-small-3 b.$margin-mid b.$margin-small-3 b.$margin-mid;
    & h3 {
      font-size: b.$font-size-smal-2;
    }

    & p {
      font-size: b.$font-size-small-1;
    }
    & svg {
      width: 1.4rem;
    }
  }
}
