@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.intro {
  max-width: b.$container-large;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 10rem;
  align-items: center;

  & img {
    filter: grayscale(80%);
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
  }

  &__text {
    & h3 {
      font-size: b.$font-size-heading !important;
      margin-bottom: 2rem;
    }

    & p {
      font-size: b.$font-size-p;
    }
  }
}

@media (max-width: 1150px) {
  .intro {
    &__sub,
    &__sub:link,
    &__sub:visited {
      font-size: b.$font-size-small-3;
    }
    &__text {
      & .heding-secondary {
        font-size: b.$font-size-mid !important;
        margin-bottom: 1rem;
      }

      & p {
        font-size: b.$font-size-small-3;
      }
    }
  }
}

@media (max-width: 900px) {
  .intro {
    display: grid;
    grid-template-columns: 1fr;

    & img {
      filter: grayscale(80%);
      max-width: 50rem;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 650px) {
  .intro {
    &__sub,
    &__sub:link,
    &__sub:visited {
      font-size: b.$font-size-small;
    }
    &__text {
      & .heding-secondary {
        font-size: b.$font-size-smal-2 !important;
        margin-bottom: 1rem;
      }

      & p {
        font-size: b.$font-size-small-1;
      }
    }
  }
}
