@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.heading {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 6rem 4rem;
  max-width: b.$container-large-2;
  margin: 0 auto;
  position: relative;

  h1 {
    font-size: b.$font-size-large-2;
    text-transform: uppercase;

    & a:link,
    & a:visited {
      font-weight: 100;
    }
  }

  //  SOC ICON LINKS
  &__socials {
    display: flex;
    align-items: center;
    width: 20rem;

    & a {
      display: block;
    }

    & ul {
      list-style: none;
      display: flex;
      gap: 1.4rem;
    }
  }

  // MAVIGATUION LINKS
  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: b.$font-size-mid;
      text-transform: uppercase;

      & li {
        display: flex;
        align-items: center;
      }

      & a {
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
}

.coding-li {
  position: relative;
  cursor: default;
  transition: all 0.4s;
}

.dropdown-menu {
  background-color: #e6e3db;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: 0;
  top: 2.6rem;
  display: none !important;
  // z-index: -1;
  transition: all 0.4s;

  & a {
    font-size: b.$font-size-small-3;
  }
}
.dropdown-menu-dark {
  background-color: #323230;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: 0;
  top: 2.6rem;
  display: none !important;
  // z-index: -1;
  transition: all 0.4s;

  & a {
    font-size: b.$font-size-small-3;
  }
}

.dropdown-menu-active {
  display: block !important;
}

@media (max-width: 1150px) {
  .heading {
    //  SOC ICON LINKS
    &__socials {
      width: 15rem;
      & a {
        & svg {
          width: 2rem;
        }
      }
      & ul {
        gap: 1rem;
      }
    }

    & .main-home-link {
      text-align: center;
      & a:link,
      & a:visited {
        font-weight: 100;
        font-size: b.$font-size-mid-3;
      }
    }

    &__links {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0;

      & ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;

        & .coding-li {
          font-size: b.$font-size-small-1;
        }

        & a {
          font-size: b.$font-size-small-1;
          font-weight: 500;
          letter-spacing: 2px;
        }
      }
    }

    // THEME CHANGE
    &__theme {
      width: 15rem;

      &__container {
        width: 2rem;
        height: 2rem;
      }

      &__icons-box {
        & svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .heading {
    padding: 2rem 2rem 4rem 2rem;
    & h1 {
      text-transform: uppercase;
      font-size: b.$font-size-mid;

      & a:link,
      & a:visited {
        font-size: b.$font-size-mid !important;
        padding: 0 2rem;
      }
    }
  }
}
@media (max-width: 650px) {
  .heading {
    padding: 1rem 2rem 2rem 2rem;
    & h1 {
      margin-bottom: 1rem;
      & a:link,
      & a:visited {
        padding: 0;
      }
    }

    &__socials {
      display: none;
    }
    // MAVIGATUION LINKS
    &__links {
      width: 100%;
    }

    // THEME CHANGE
    &__theme {
      width: 2rem;
    }
  }
}
@media (max-width: 650px) {
  .heading {
    display: none !important;
  }
}

// start of burger
