@use "../../scss/abstracts" as a;
@use "../../scss/base" as b;

.heading {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 6rem 4rem;
  max-width: b.$container-large-2;
  margin: 0 auto;
  position: relative;

  h1 {
    font-size: b.$font-size-large-2;
    text-transform: uppercase;

    & a:link,
    & a:visited {
      font-weight: 100;
    }
  }

  //  SOC ICON LINKS
  &__socials {
    display: flex;
    align-items: center;
    width: 20rem;

    & a {
      display: block;
    }

    & ul {
      list-style: none;
      display: flex;
      gap: 1.4rem;
    }
  }

  // MAVIGATUION LINKS
  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      font-size: b.$font-size-mid;
      text-transform: uppercase;

      & a {
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }

  // THEME CHANGE
  &__theme {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20rem;

    &__container {
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    &__icons-box {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.4s;

      & svg {
        width: 4rem;
        height: 4rem;
      }

      &__dark {
        transform: translateY(-100%);
      }
    }
  }
}

.coding-li {
  position: relative;
  cursor: default;
  transition: all 0.4s;
}

.dropdown-menu {
  background-color: #e6e3db;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: 0;
  top: 2.6rem;
  display: none !important;
  // z-index: -1;
  transition: all 0.4s;

  & a {
    font-size: b.$font-size-small-3;
  }
}
.dropdown-menu-dark {
  background-color: #323230;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  left: 0;
  top: 2.6rem;
  display: none !important;
  // z-index: -1;
  transition: all 0.4s;

  & a {
    font-size: b.$font-size-small-3;
  }
}

.dropdown-menu-active {
  display: block !important;
}
